
.container {
    background-color: lightgray;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    flex-flow: 1 1 auto;
}
